body {
  margin: 0;
  padding: 0;
  background-image: url(./krivan-peak-slovakia-picjumbo-com.jpg);
  /* background-image: url(./Owl-18244mp4); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  height: 100vh;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper h2 {
  padding: 0;
  margin: 0;
  color: #fff;
  text-shadow: 0 2px 0 rbga (0, 0, 0, 0.5);
  font-size: 60px;
}
.wrapper p {
  color: #fff;
  font-size: 18px;
  margin: 0;
  line-height: 35px;
}
.wrapper a {
  background: crimson;
  color: #fff;
  text-decoration: none;
  padding: 11px 25px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 30px;
}
span:before {
  content: "";
  animation: animate infinite 8s;
  transition: 1s linear;
}
@keyframes animate {
  0% {
    content: "Freelancer";
  }
  20% {
    content: "Marketer";
  }
  40% {
    content: "Photographer";
  }
  60% {
    content: "Archect";
  }
  80% {
    content: "SPIDERMAN";
  }
  100% {
    content: "DEVELOPER";
  }
}
